<ul class="navigation">
    <li class="dropdown">
        <a href="/email_list" class="drop-button">El. laiškai</a>
    </li>
    <li class="dropdown">
        <a href="/order_history" class="drop-button">Užsakymai</a>
    </li>
    <li class="dropdown">
        <a href="/order_new" class="drop-button">Naujas Užsakymas</a>
    </li>
    <li style="float: right">
        <a href="/logout">Atsijungti</a>
    </li>
</ul>