<div style="padding: 8ch; text-align: center">
    <img src="/404_inv.svg" alt="404" style="width: 160px; height: 74px; mix-blend-mode: exclusion; object-fit: none; margin: auto; background-color: #4e6da8">
    <br>
    Ieškomas puslapis nerastas
</div>