<div class="container">
    <%
        switch (option) {
            default:
                %>
                <%-await include('../error_404');%>
                <%
                break
        }
    %>
</div>