<%data.forEach(item => {%>
    <div class="content justify">
        Author: <b><%=item.author%></b>
        <br>
        <%=item.content%>
        <br>
        Announced on: <b><%=item.time%></b>
    </div>
<%})%>