<div class="content">
    <form action="log_me_in" method="post">
        <table class="login_container">
            <tr>
                <th><label for="username"><b>Prisijungimo vardas</b></label></th>
                <th><input type="text" name="username" required></th>
            </tr>

            <tr>
                <th><label for="password"><b>Slaptažodis</b></label></th>
                <th><input type="password" name="password" required></th>
            </tr>
        </table>
        <button type="submit">Prisijungti</button>
    </form>
    <br>
    <a class="empty" href="/register">Registruotis</a>
</div>