<div class="content">
    <form action="log_me_in" method="post">
        <div class="login_container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <labe for="password"><b>Password</b></labe>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>
</div>