<%data.forEach(item => {%>
<a class="empty" href="news/<%=item.id%>">
    <div class="content justify">
        Author: <b><%=item.author%></b>
        <br>
        <%=item.content.substr(0, item.content.indexOf('.'))%>
        <br>
        <div style="text-align: right">
            <b><%=item.time%></b>
        </div>
    </div>
</a>
<%})%>