<%
var city = ""
data.forEach(item => {
    if(city !== item.city) {
        if(city !== "") {
            // END CITY
            %>
                </div></div>
            <%
        }
        city = item.city
        // START CITY
        %>
            <div class="content justify">
                <h1><%=item.city%></h1>
                <div style="padding-left: 16px">
        <%
    }
    // SHOW ELEMENT
    %>
        <p>
            <a class="empty" href="/contacts/<%=item.id%>">
                <%=item.address.substr(0, item.address.indexOf(','))%>
            </a>
        </p>
    <%
})
%>
</div></div>