<div class="content justify">
    <div class="mapouter" style="margin: auto">
        <div class="gmap_canvas">
            <iframe class="gmap_canvas" src="https://maps.google.com/maps?q=<%=item.address.split(' ').join('%20')%>&t=&z=17&ie=UTF8&iwloc=&output=embed">
            </iframe>
        </div>
    </div>
</div>
