<ul>
    <div style="float: left">
        <li><a href="/news">Naujienos</a></li>
        <li><a href="/menu">Patiekalai</a></li>
        <li><a href="/c">C</a></li>
    </div>
    <div style="float: right">
        <li><a href="/login">Prisijungti</a></li>
        <li><a href="/contacts">Kontaktai</a></li>
    </div>
</ul>