* {
    box-sizing: border-box;
    border: solid 1px blue;
}

body, html {
    height: 100%;
}
body {
    color: #000000;
    background-color: slategray;
    /*background-image: url('burger.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
.container {
    padding-top: 5ch;
    height: 100%;
    border: solid 1px #ffffff;
    padding-left: 25ch;
    padding-right: 25ch;
}
.header {
    border: solid 5px blue;
}
#logo {
    width: 175px;
}