* {
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    margin: auto;
}
body {
    color: #000000;
    background-color: slategray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
a .active {
    background-color: chocolate;
}
.container {
    max-width: 800px;
    margin: auto;
    min-height: 100%;
    border: solid 1px #ffffff;
}
.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navigation {

}
.content {
    border: 1px solid #243a65;
    margin: 10px;
    padding: 10px;
}
#header {
    display: block;
    margin: 0;
    padding: 0;
    align-content: center;
    overflow: hidden;
    height: 100px;
    min-width: 800px;
    width: 100%;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
}
.footer {
    font-weight: bolder;
    background-color: #333333;
    color: white;
    text-align: center;
    font-family: "Courier New", monospace;
}
a.empty, a:visited.empty, a:link.empty {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display:inline-block;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
.mapouter {
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
}