<ul class="navigation">
    <li class="dropdown">
        <a href="/email_list" class="drop-button">El. laiškai</a>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="drop-button">Užsakymai</a>
        <div class="dropdown-content">
            <a href="/order_list">Sąrašas</a>
            <a href="/order_approved">Priimti</a>
        </div>
    </li>
    <li style="float: right">
        <a href="/logout">Atsijungti</a>
    </li>
</ul>